.accordion-button {
    background-color: brown ;
    color: white ;
}
.accordion-button:not(.collapsed) {
    background-color: brown ;
    color: white ;
}
.accordion-button::after{
    display: none ;
}
.back-color1{
    color: #ffff;
    background-color: black;
}